<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Document</title>

  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <!--<link rel="stylesheet" href="css/styles.css?v=1.0">-->

</head>

<body>
    <a href="/leads">Go back to leads</a>
    <hr/>
    <h1>Update lead: {{ lead.first_name }} {{ lead.last_name }}</h1>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</body>
</html>